# Byte-compiled / Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Django DB
db.sqlite3

# Environments
.venv/
venv/
.env
.env.*

# Staticfiles collected (NÃO commit - será gerado em produção)
/staticfiles/

# Editor/IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Logs
*.log

# Test / cache
.pytest_cache/
.coverage